In [1]:
from scipy.io import wavfile
import pandas as pd

In [35]:
dict = {'vowelsEGG' : wavfile.read('./export/2-iau-egg.wav')[1],
        'vowels' : wavfile.read('./export/2-iau.wav')[1],
       }
#'2-phrase-egg': wavfile.read('./export/2-phrase-egg.wav')[1],
#'2-phrase': wavfile.read('./export/2-phrase.wav')[1]

In [36]:
df = pd.DataFrame(dict)

In [37]:
df.head()

   2-iau-egg  2-iau
0      19090   4298
1      19163   5030
2      19352   5360
3      19738   4785
4      19703   3684

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484432 entries, 0 to 1484431
Data columns (total 2 columns):
2-iau-egg    1484432 non-null int16
2-iau        1484432 non-null int16
dtypes: int16(2)
memory usage: 5.7 MB

In [39]:
df.describe()

          2-iau-egg         2-iau
count  1.484432e+06  1.484432e+06
mean   3.259624e-01  1.376839e+00
std    7.363527e+03  5.682760e+03
min   -2.523000e+04 -3.276800e+04
25%   -3.780000e+03 -1.729000e+03
50%   -1.090000e+02 -1.300000e+01
75%    8.400000e+02  4.180000e+02
max    3.275400e+04  3.194000e+04

86130